*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-color: white;
}
body{
    font-family: 'Goldman', Arial;
}
.nav-header{
    background-color: aqua;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    margin-left: 100px;
    font-weight: bolder;
}
.nav-info{
    margin-right: 100px;
}
.nav-info ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}
.nav-info ul li a{
    font-weight: bolder;
    margin-left: 30px;
    text-decoration: none;
    list-style: none;
}
.btn-ghost{
    list-style: none;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: 3px solid rgb(0, 147, 147);
    padding: 10px;
}
.contents{
    display: flex;
    height: 100vh;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
.left-section{
    margin-left: 100px;
    padding-left: 10px;
    width: 50%;
    margin-top: -100px;
}
.header-first{
    font-size: 110px;
    line-height: 0.8;
}
.right-section{
    margin-right: 100px;
    width: 50%;
}
.header-second{
    margin-top: 30px;
}
